<h1 style="text-align: center;">Book Recommender System</h1>

In [1]:
# importing important libraries 
import numpy as np
import pandas as pd

reading dataset:

In [2]:
books = pd.read_csv('data/Books.csv')
users = pd.read_csv('data/Users.csv')
ratings = pd.read_csv('data/Ratings.csv')

/var/folders/n1/5mqjbs_d7r53q3v_5z5rv2680000gn/T/ipykernel_2160/927319382.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

In [3]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
236310,0812540298,Daughter of Joy,Joann Levy,1999,Tor Books,http://images.amazon.com/images/P/0812540298.0...,http://images.amazon.com/images/P/0812540298.0...,http://images.amazon.com/images/P/0812540298.0...
243752,0688160980,"The Last Party: Studio 54, Disco, and the Cult...",Anthony Haden-Guest,1998,Perennial,http://images.amazon.com/images/P/0688160980.0...,http://images.amazon.com/images/P/0688160980.0...,http://images.amazon.com/images/P/0688160980.0...
52111,0192823949,Castle Rackrent (The World's Classics),Maria Edgeworth,1995,Oxford University Press,http://images.amazon.com/images/P/0192823949.0...,http://images.amazon.com/images/P/0192823949.0...,http://images.amazon.com/images/P/0192823949.0...
34954,0373484666,The Heart's Command,Rachel Lee,2002,Silhouette,http://images.amazon.com/images/P/0373484666.0...,http://images.amazon.com/images/P/0373484666.0...,http://images.amazon.com/images/P/0373484666.0...
20654,0446404039,Dark Place,Aaron Elkins,1994,Warner Books,http://images.amazon.com/images/P/0446404039.0...,http://images.amazon.com/images/P/0446404039.0...,http://images.amazon.com/images/P/0446404039.0...

In [4]:
users.sample(5)

        User-ID                           Location   Age
185697   185698               paris, paris, france  28.0
161794   161795  leiden, zuid-holland, netherlands  58.0
144652   144653            antioch, tennessee, usa   NaN
168668   168669            mahwah, new jersey, usa   NaN
177109   177110       simi valley, california, usa   NaN

In [5]:
ratings.sample(5)

         User-ID        ISBN  Book-Rating
413926     98741  0440213029            0
875426    211961  0064400085           10
495429    119223  0446611662            8
1068409   255092  0898656257            0
849882    205485  0515135828           10

In [6]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(278858, 3)
(1149780, 3)

In [7]:
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            2
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [8]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [9]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [10]:
books.duplicated().sum()

0

In [11]:
users.duplicated().sum()

0

In [12]:
ratings.duplicated().sum()

0

<h2>Popularity Based Recommender System</h2>