<h1 style="text-align: center;">Book Recommender System</h1>

In [1]:
# importing important libraries 
import numpy as np
import pandas as pd

reading dataset:

In [2]:
books = pd.read_csv('data/Books.csv')
users = pd.read_csv('data/Ratings.csv')
ratings = pd.read_csv('data/Users.csv')

/var/folders/n1/5mqjbs_d7r53q3v_5z5rv2680000gn/T/ipykernel_8178/2771179680.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv('data/Books.csv')

In [3]:
books.sample(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
253994,0939117096,Four Centuries of Fashion: Classical Kimono fr...,Michael Morrison,1997,Univ of Washington Pr,http://images.amazon.com/images/P/0939117096.0...,http://images.amazon.com/images/P/0939117096.0...,http://images.amazon.com/images/P/0939117096.0...
139680,0307131947,Disney's Tarzan (Disney's Tarzan),Eric Suben,1999,Golden Books Publishing Company,http://images.amazon.com/images/P/0307131947.0...,http://images.amazon.com/images/P/0307131947.0...,http://images.amazon.com/images/P/0307131947.0...
17430,0757300243,Chicken Soup for the Sister's Soul : 101 Inspi...,Jack Canfield,2002,Health Communications,http://images.amazon.com/images/P/0757300243.0...,http://images.amazon.com/images/P/0757300243.0...,http://images.amazon.com/images/P/0757300243.0...
172565,0312244444,Glove Puppet,Neal Drinnan,1999,Stonewall Inn Editions,http://images.amazon.com/images/P/0312244444.0...,http://images.amazon.com/images/P/0312244444.0...,http://images.amazon.com/images/P/0312244444.0...
74900,0061005126,Morningstar,Peter Atkins,1992,Harper Mass Market Paperbacks (Mm),http://images.amazon.com/images/P/0061005126.0...,http://images.amazon.com/images/P/0061005126.0...,http://images.amazon.com/images/P/0061005126.0...

In [4]:
users.sample(5)

        User-ID        ISBN  Book-Rating
755714   182987  0517182173            0
926890   225379  0451199669            3
223220    52199  0590453688            0
281034    66797  0380973588            0
374741    90049  0553236245            0

In [5]:
ratings.sample(5)

        User-ID                      Location   Age
93155     93156  gander, newfoundland, canada  44.0
94903     94904            chicago, illinois,  53.0
82460     82461        chicago, illinois, usa   NaN
230938   230939         n/a, n/a, netherlands   NaN
33999     34000       zaragoza, aragon, spain  23.0

In [8]:
print(books.shape)
print(users.shape)
print(ratings.shape)

(271360, 8)
(1149780, 3)
(278858, 3)